// 订单成功弹框
#modal-add-order-success {
  .modal-content .modal-body {
    padding: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 410px;
    background: #FFFFFF;
    border-radius: 4px 4px 4px 4px;

    p {
      margin: 0;
      font-size: 17px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #030303;
    }

    svg {
      fill: rgb(26, 188, 156);
      width: 46px;
      height: 46px;
    }
  }
}

.home {
  .alert {
    position: absolute;
  }
  
  .alert-danger,
  .alert-success {
    z-index: 1071;
    font-size: 16px;
    position: fixed;
    top: 0px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }
  
  .alert-danger {
    &.add-error {
      z-index: 1080;
    }
  }
}